.hero-page {
  margin-bottom: 30px;

  @include respond(phone) {
    position: relative;
    // padding-bottom: 165px;
  }

  @include respond(mobilemini) {
    // padding-bottom: 185px;
    margin-bottom: 10px;
  }
}

.header-page {
  padding: 30px 0 35px;
  justify-content: space-between;
  position: relative;
}

.header-page::after {
  content: "";
  position: absolute;
  right: 112px;
  top: 25px;
  background-image: url("../images/coin.png");
  background-size: contain;
  background-position: center right 21px;
  background-repeat: no-repeat;
  width: 591px;
  height: 588px;
  z-index: 1;
}

.header-page__col-left svg {
  color: #ffffff;
}

.header-page__col-right {
  background: #0f1544;
  box-shadow: 0px 60px 20px -50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 40px;
  position: relative;
  z-index: 100;
}

.header-page__btn {
  color: #fff;
  padding: 9px 21px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
}

.header-page__btn.active {
  background: #f4a42b;
  color: #090b34;
}

.site-logo-left svg {
  width: 67px;
  height: 45px;
}

.site-logo-left {
  display: inline-block;
  margin-right: 20px;
}

.site-logo-right {
  display: inline-block;
}

.site-logo-right svg {
  width: 236px;
  height: 30px;
}

.hero-page__inner {
  padding: 45px 0 45px 90px;
  box-shadow: 0px 30px 50px -50px #000000;
  background: linear-gradient(67.2deg, #0b0c38 11.83%, #131746 82.23%);
  border-radius: 20px;
  position: relative;
  // border-top: 4px solid #2e2f54;
  // border-right: 4px solid #2e2f54;
  // border-left: 4px solid #2e2f54;
}

.hero-page__inner::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  z-index: -1;

  @include respond(phone) {
    top: -3px;
    left: -3px;
    right: -3px;
  }
}

.hero-page__inner::after {
  content: "";
  position: absolute;
  top: 0px;
  background-image: url("../images/hero.png"), url("../images/cosmos.png");
  background-size: 477px 304px, contain;
  background-position: bottom -18px right 295px, center right 0px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero-page__inner-col-left {
  max-width: 50%;
}

h1.title {
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  max-width: 420px;
  font-weight: bold;
  margin-bottom: 33px;
}

.hero-page__content {
  @include respond(phone) {
    margin-top: 20px;
  }

  @include respond(mobilemini) {
    margin-top: 0px;
  }
}

.info-list__item {
  align-items: center;
}

.info-list__item:not(:last-child) {
  margin-bottom: 20px;

  @include respond(mobilemini) {
    margin-bottom: 10px;
  }
}

.info-list__item-icon {
  width: 30px;
  height: 28px;
  flex-shrink: 0;
  margin-right: 20px;

  @include respond(mobilemini) {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

.info-list__item--text {
  font-size: 24px;
  line-height: 28px;

  @include respond(phone) {
    font-size: 18px;
    line-height: 18px;
  }

  @include respond(mobilemini) {
    font-size: 12px;
    line-height: 15px;
  }
}

body.active .header-page__col-left svg {
  color: #000000;
}

@media (max-width: 1400px) {
  .hero-page__inner::after {
    content: "";
    position: absolute;
    top: 0px;
    background-image: url("../images/hero.png"), url("../images/cosmos.png");
    background-size: 377px 304px, 500px 427px;
    background-position: bottom -18px right 202px, center right 0px;
    background-repeat: no-repeat;
    width: 94%;
    height: 100%;
    z-index: 2;
  }

  .header-page::after {
    content: "";
    position: absolute;
    right: 112px;
    top: 25px;
    background-image: url("../images/coin.png");
    background-size: 450px 500px;
    background-position: center right;
    background-repeat: no-repeat;
    width: 450px;
    height: 500px;
    z-index: 1;
  }
}

@media (max-width: 1199px) {
  .hero-page__inner {
    padding: 30px;
  }

  .hero-page__inner::after {
    content: "";
    position: absolute;
    top: 8px;
    background-image: url("../images/hero.png"), url("../images/cosmos.png");
    background-size: 377px 304px, 350px 357px;
    background-position: bottom -8px right 102px, center right 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .header-page::after {
    content: "";
    position: absolute;
    right: 102px;
    top: 50px;
    background-image: url("../images/coin.png");
    background-size: 310px 400px;
    background-position: center right 20px;
    background-repeat: no-repeat;
    width: 310px;
    height: 400px;
    z-index: 1;
  }

  .header-page__col-right {
    display: none;
  }

  .header-page__col-left {
    justify-content: center;
    // margin: 0 auto;
  }

  h1.title {
    font-size: 24px;
    text-align: left;
  }
}
@media (max-width: 991px) {
  .header-page {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .hero-page__inner-col-left {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-page__inner::after {
    content: "";
    position: absolute;
    top: 8px;
    background-image: url("../images/hero.png"), url("../images/cosmos.png");
    background-size: 477px 304px, 550px 357px;
    background-position: center center, center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .header-page::after {
    content: "";
    position: absolute;
    right: 0%;
    top: 239px;
    background-image: url("../images/coin.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 466px;
    z-index: 1;
  }

  .header-page__col-left {
    flex-direction: column;
  }

  .site-logo-left {
    margin-right: 0;
    margin-bottom: 20px;
  }

  h1.title {
    padding-bottom: 70vh;
    max-width: 100%;
    text-align: center;
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .hero-page__inner {
    padding: 30px 24px 14px 10px;
  }
  .hero-page__inner-col-left {
    max-width: 100%;
    align-items: flex-start;
  }
  .hero-page__inner::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0%;
    background-image: url("../images/hero.png"), url("../images/cosmos.png");
    // background-size: contain, contain;
    // background-position: left -15px center, center top 96px;
    background-size: 104px 61px,167px 92px;
    background-position: top 28px right 55px,top right -7px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .header-page__col-left {
    flex-direction: unset;
  }

  .site-logo-right svg {
    width: 122px;
    height: 18px;
  }

  .site-logo-left {
    margin-bottom: 0;
    margin-right: 11px;
    height: 23px;
  }

  .site-logo-left svg {
    width: 33px;
    height: 22px;
  }

  .header-page::after {
    content: "";
    position: absolute;
    right: 0%;
    top: 30px;
    background-image: url("../images/coin.png");
    // background-size: contain;
    // background-position: center right;
    background-size: 126px 126px;
    background-position: top right;
    background-repeat: no-repeat;
    width: 100%;
    height: 285px;
    z-index: 1;
  }

  h1.title {
    font-size: 12px;
    padding-bottom: 0vh;
    line-height: 14px;
    text-align: left;
    max-width: 154px;
    margin-bottom: 20px;
  }
}
